@{
	ViewData["Title"] = "Index";
}

@{
	Layout = "_Layout";
}
<html>
<head>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }
    </style>
    <title>About us</title>
</head>
<body>
	<div>
		<p>
			This is a simple web application which provides users about basic information on stocks
			of different companies.
		</p>
		<br />
		<p>
			<b>Companies:</b>
		<p>
			By clicking on the companies user will see a list of all the available companies
			for which Company details,Stock price of the company and dividends information
			is available
		</p>
		<br />
		<b>Company Details:</b>
		<p>
			By clicking on the CompanyDetails user can know CEO of company, primary sector in which the
			company operates and the stock exchange on which the company stocks are traded.
		</p>
		<br />
		<b>Company Quote:</b>
		<p>
			By clicking on the CompanyQuote user can know stock opening price, stock closing price, previous
			day's closing price and the total market capitalization of the company.
		</p>
		<br />
		<b>Company Dividends:</b>
		<p>
			By clicking on the CompanyDividends user can know the company dividends in the last one year for each
			quarter, this will include the amount of dividend on each share, dividend announcemnet date, payment date
			and the type of dividend.
		</p>
		<br />
		<b>Feedback:</b>
		<p>
			This for receiving the feedback from users regardding the application, users can just enter their name and
			feedback message.
		</p>
		<br />
		
		<p>
			The source code for this application is <a href="https://github.com/SreePavaniSontam/StocksApplication" target="_blank"><b><u>here</u></b></a>.
		</p>

		<b>Developers:</b> <br/>
		<section>
		 <div>

		<section>
          <div>
			<h5>Sree Pavani Sontham</h5> 
			 <p>MS BAIS, USF</p> 
			<img src="~/img/pavani.jpg">
           
			<p> Contribution: Worked on Controllers, Javascript funtionality in the web pages </p> 
            <p>Sree Pavani is currently pursuing her master's in Business Analytics and Information Systems at University of South Florida. She has over 2 years of experience as a Data Engineer at Infosys. 
				Her contribution includes working on javascript functionality of the web pages.</p>
          </div>
          <aside>
            <div>
              <p><a href="https://www.linkedin.com/in/sree-pavani-sontam-46074219b/">Visit Pavani's LinkedIn</a></p>
            </div>
          </aside>
        </section>

		<section>
          <div>
            <h5>Sumanth Priyesh Bolleddu</h5>
			 <p>MS BAIS, USF</p> 
			<img src="~/img/BSP.jpg">

		    <p> Contribution: Worked on Model classes, Desigining and Developing the webpages </p> 
            <p>Sumanth Priyesh is currently pursuing his master's in Business Analytics and 
				Information Systems at University of South Florida. He has over 2 years of 
				experience as an Enterprise Information Management Analyst and EIM Consultant. 
				He contributed in designing and developing the web pages.</p>
          </div>
          <aside>
            <div>
            <p><a href="https://www.linkedin.com/in/sumanthpriyesh/">Visit Priyesh's LinkedIn</a></p>
            </div>
          </aside>
        </section>

		<section>
          <div>
            <h5>Vivek Gollapudi</h5>
			 <p>MS BAIS, USF</p> 
			<img src="~/img/vivek.jpg">

			<p> Contribution: Worked on Data modeling, API and developing webpages</p> 
            <p>Vivek is currently pursuing his master's in Business Analytics and Information Systems 
				at University of South Florida. He has over 3 years of experience as a Developer at TCS. 
				Data modeling and developing web pages are his contributions.</p>
          </div>
		  <aside>
            <div>
               <p><a href="https://www.linkedin.com/in/vgollapudi/">Visit Vivek's LinkedIn</a></p>
            </div>
          </aside>
        </section>
		</div>
		</section>

	</div>
</body>
</html>